.App {
  text-align: center;
  margin: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.screen {
  grid-area: screen;
  border-radius: 10px;
  text-align: right;
}
.ac-btn {
  grid-area: ac;
  background-color: rgb(60, 131, 134);
}
.c-btn {
  grid-area: c;
  background-color: rgb(60, 131, 134);
}
.invert-btn {
  grid-area: invert-btn;
  background-color: rgb(60, 131, 134);
}
.divide-btn {
  grid-area: divide;
  background-color: rgb(60, 131, 134);
}
.seven-btn {
  grid-area: seven;
}
.eight-btn {
  grid-area: eight;
}
.nine-btn {
  grid-area: nine;
}
.multiply-btn {
  grid-area: multiply-btn;
  background-color: rgb(60, 131, 134);
}
.four-btn {
  grid-area: four;
}
.five-btn {
  grid-area: five;
}
.six-btn {
  grid-area: six;
}
.subtract-btn {
  grid-area: subtract-btn;
  background-color: rgb(60, 131, 134);
}
.one-btn {
  grid-area: one;
}
.two-btn {
  grid-area: two;
}
.three-btn {
  grid-area: three;
}
.add-btn {
  grid-area: add-btn;
  background-color: rgb(60, 131, 134);
}
.zero-btn {
  grid-area: zero-btn;
}
.dot-btn {
  grid-area: dot-btn;
  background-color: rgb(60, 131, 134);
}
.equal-btn {
  grid-area: equal;
  background-color: rgb(60, 131, 134);
}

.grid-container {
  display: grid;
  grid-template-areas:
  'screen screen screen screen'
  'screen screen screen screen'
  'screen screen screen screen'
  'screen screen screen screen'
  'screen screen screen screen'
  'ac c invert-btn divide'
  'seven eight nine multiply-btn'
  'four five six subtract-btn'
  'one two three add-btn'
  'zero-btn zero-btn dot-btn equal';
  gap: 10px;
  background-color: rgb(143, 177, 179);
  border: 10px solid rgb(27, 53, 55);
  border-radius: 10px;
  padding: 1rem;
}
button {
  background-color: rgb(115, 196, 199);
  border-radius: 10px;
}